* {

    padding: 0;
    margin: 0;

}

body {
    background-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    color: rgb(128, 0, 0);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#Box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: solid black 2px;
    padding: 4px;
}


#titulo {
    font-size: 25px;
    font-family: cursive;
    color: rgb(255, 255, 255);
}


#boxL {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: black 2px 2px 2px;
}

#box2{
    display: flex;
}

#img1{
    width: 500px;
    margin: 40px;
    border: solid black 2px;
    border-radius: 10px;
}

#h2{
    margin: 40px;
 }

#text1{
    margin: 40px;
    font-size: 15px;
}